<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GUITARRAS ELÉCTRICAS NUEVAS, GUITARRAS ELÉCTRICAS USADAS, GUITARRAS ELECTRO ACÚSTICAS NUEVAS,GUITARRAS ELECTRO ACÚSTICAS USADAS, BAJOS ELÉCTRICOS NUEVOS,BAJOS ELÉCTRICOS USADOS ,BATERIAS,CONGAS,SAXO,FLAUTA TRAVERSA,TROMPETA">
    <meta name="description" content="Un sitio que se dedica a vender instrumentos musicales de alta calidad tanto nuevos como usados">
    <link rel="shortcut icon" href="./img/mini logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
    <title>The House Of Music,Venta de Instrumentos</title>
</head>
<body>
<!--HEADER DE LA PAGINA-->
<header>
<!-- LOGO DEL SITIO WEB-->  
  <div>
    <section class="derecha">
     <article>
      <img src="img/logo del sitio.jpg" height="100" width="100" alt="Logo del Sitio Web que es una clave de sol">
     </article>  
    </section>   
   </div>
   <!-- NOMBRE DEL SITIO WEB-->  
  <div>
   <section>
    <article>
      <h1 class="izquierda">THE HOUSE</h1>
      <h1 class="izquierda">OF</h1>
      <h1 class="izquierda">MUSIC</h1>
    </article>
   </section> 
  </div>
    <!--ENLACES DEL SITIO WEB EN EL HEADER-->
    <li>
      <a href="#NOSOTROS SOMOS">NOSOTROS SOMOS__</a> 
     </li>
     <li>
      <a href="#INSTRUMENTOS DE CUERDA">INSTRUMENTOS DE CUERDA__</a> 
     </li>
     <li>
      <a href="#INSTRUMENTOS DE PERCUSIÓN">INSTRUMENTOS DE PERCUSIÓN__</a> 
     </li>
     <li>
      <a href="#INSTRUMENTOS DE VIENTO">INSTRUMENTOS DE VIENTO__</a> 
     </li>
     <li>
      <a href="./fotos.html#FOTOS">FOTOS__</a> 
     </li>
     <li>
      <a href="./fotos.html#VIDEOS">VIDEOS__</a> 
     </li>
     <li>
      <a href="#TU COMPRA">TU COMPRA__</a> 
     </li>
     <li>
      <a href="#DEJÁ TUS DATOS">DEJÁ TUS DATOS_</a> 
     </li>
   </header>
   <!--NOSOTROS SOMOS-->
   <div>
    <section>
     <article>
      <section id="NOSOTROS SOMOS">
      <h2 class="azul">NOSOTROS SOMOS</h2> 
       <p>THE HOUSE OF MUSIC es una tienda en línea que existe desde el año 2013 , ofrecemos instrumentos de gran calidad a un precio muy competitivo. Tenemos instrumentos nuevos como así también usados en buen estado.Nuestro email es santicorbella@gmail.com y nuestro número de celular es 3516358439(con what sapp).</p>  
     </article>
    </section>
   </div>
   <div>
    <section>
     <article>
      <p> 
       <a  class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
      </p>  
     </article> 
    </section>
   </div>
<!--ENLACE DENTRO DE LA MISMA PAGINA--> <!--INSTRUMENTOS DE CUERDAS-->
<!--Guitarras--> 
   <div>
    <section>
     <article>
      <section id="INSTRUMENTOS DE CUERDA">
       <h2 class="azul">INSTRUMENTOS DE CUERDA</h2>
        <h3 class="celeste">GUITARRAS</h3>
        <!--GUITARRAS ELÉCTRICAS NUEVAS-->
         <h4>GUITARRAS ELÉCTRICAS NUEVAS MARCA FENDER STRATOCASTER</h4>
          <p>Fender stratocaster Roja</p>
          <p>Fender Stratocaster Verde</p>
          <p>Fender Player Stratocaster Hss negra</p>
          <li>
           <a href="./fotos.html#FOTOS DE GUITARRAS ELÉCTRICAS NUEVAS FENDER STRATOCASTER">*Fotos de Guitarras Eléctricas Nuevas Marca Fender Stratocaster</a>
          </li>
         </article>
      </section>
     </div>
     <div>     
      <section>
       <article>
        <h4>GUITARRAS ELÉCTRICAS NUEVAS MARCA FENDER JAGUAR Y FENDER TELECASTER</h4>
         <P>Fender Jaguar Near Roja</P>
         <p>Fender-American-Vintage-ii-1972-Telecaster</p>
         <p>Fender Telecaster American Vintage 1952</p>
         <li>
          <a href="./fotos.html#FOTOS DE GUITARRAS ELÉCTRICAS NUEVAS FENDER JAGUAR Y TELECASTER">*Fotos de Guitarras Eléctricas Nuevas Fender Jaguar Y Telecaster</a> 
         </li>
       </article> 
      </section>
     </div>
     <!--GUITARRAS ELECTRO ACÚSTICAS NUEVAS MARCA FENDER-->
     <div>
      <section>
       <article>
        <h4>GUITARRAS ELECTRO ACÚSTICA NUEVAS MARCA FENDER</h4>
         <ol>     
          <ul>*Guitarra Electro Acústica Fender Sonoran</ul>
          <ul>*Guitarra Electro Acústica Fender Malibu Player Fishman</ul>
          <ul>*Guitarra Electro Acústica Fender California-newporter-suburst</ul>
         </ol>
         <li>
          <a href="./fotos.html#FOTOS DE GUITARRAS ELECTRO ACÚSTICAS NUEVAS FENDER">*Fotos de Guitarras Electro Acusticas Nuevas Fender</a> 
         </li>
       </article>
      </section>
     </div>
     <div>
      <section>
       <article>
        <h4>GUITARRAS ELÉCTRICAS NUEVAS MARCA GIBSON</h4> 
         <P>Gibson Les Paul Standard 50s Heritahe Cherry Sunburst</P>
         <p>Gibson Les Paul Standard 60s Bourbon Burst</p>
         <p>Gibson-Sg-Instant</p>
         <li>
          <a href="./fotos.html#FOTOS DE GUITARRAS ELÉCTRICAS NUEVAS MARCA GIBSON">*Fotos de Guitarras Eléctricas Nuevas Marca Gibson</a> 
         </li>
       </article>
      </section>
     </div>
     <!--GUITARRAS ELECTRO ACÚSTICAS NUEVAS MARCA GIBSON-->
     <div>
      <section>
       <article>
        <h4>GUITARRAS ELECTRO ACÚSTICA NUEVAS MARCA GIBSON</h4>
         <p>Guitarra Electro Acústica Gibson HummingBird</p>
         <p>Guitarra Electro Acústica Gibson SJ-200 studio walnut </p>
         <P>Guitarra Electro Acústica Gibson-j-45</P>
         <li>
          <a href="./fotos.html#FOTOS DE GUITARRAS ELECTRO ACÚSTICAS NUEVAS MARCA GIBSON">*Fotos de Guitarras Electro Acústicas Nuevas Marca Gibson</a> 
         </li>
       </article>
      </section>
     </div>
     <!--OFERTA ,GUITARRA ELÉCTRICA MARCA TEXAS USADA-->
     <div>
      <section>
       <article>
        <h3>OFERTA</h3>
         <h4>GUITARRA ELÉCTRICA</h4>
          <table border cellpadding="3px" cellspacing="2px">
            <tr>
             <th>Guitarra</th> 
             <th>Precio</th>
             <th>Condición</th> 
            </tr>
            <tr>
             <td>TEXAS</td>
             <td>$300</td>
             <td>usada</td>  
            </tr>   
           </table>
          <p> 
           <li>
            <a href="./fotos.html#FOTO DE GUITARRA ELÉCTRICA USADA MARCA TEXAS">*Foto de Guitarra Eléctrica Usada Marca Texas Con Trémolo</a> 
           </li>
          </p> 
        </article>
       </section>
      </div>
      <!--OFERTA ,GUITARRA ELECTRO ACÚSTICA USADA MARCA WASHBURN-->
      <div>
       <section id="INSTRUMENTOS DE CUERDA">
        <h3>OFERTA</h3>
         <h4>GUITARRA ELECTRO ACÚSTICA</h4>
          <table border cellpadding="3px" cellspacing="2px">
           <tr>
            <th>Guitarra</th>
            <th>Precio</th>
            <th>Condición</th> 
           </tr>
           <tr>
            <td>WASHBURN</td>
            <td>$400</td>
            <td>usada</td>  
           </tr>
          </table>
        <p> 
         <li>
          <a href="./fotos.html#FOTO DE GUITARRA ELECTRO ACÚSTICA USADA MARCA WASHBURN">*Foto de Guitarra Eléctrica Marca Washburn</a> 
         </li>
        </p>    
       </div>
       <div>
        <section>
         <article>
          <p> 
           <a class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
          </p>  
         </article> 
        </section>
       </div>
       <!--BAJOS-->
       <!--Bajos Eléctricos Marca Fender Jazz Bass American Retro-->
       <div>
        <section>
         <article>
          <h3 class="celeste">BAJOS</h3>
           <h4>BAJOS ELÉCTRICOS FENDER JAZZ BASS AMERICAN RETRO</h4>
            <p>Fender Jazz Bass American 69 Olimpique White</p>
            <p>Fender American Vintage 74 Jazz Bass </p>
            <li>
              <a href="./fotos.html#FOTOS DE BAJOS ELÉCTRICOS FENDER JAZZ BASS AMERICAN RETRO">*Fotos de Bajos Eléctricos Fender Jazz Bass American Retro</a> 
            </li>
         </article>
        </section>
        <!--BAJOS ELÉCTRICOS STERLING BY MUSIC MAN -->
        <section>
         <article>
          <h4>BAJOS ELÉCTRICOS STERLING BY MUSIC MAN </h4>
           <p>Bajo Electrico Sterling by Music Man StingRay</p>
           <p>Bajo Sterling-by-music-man-sub-ray-4-vintage-cream </p>
           <li>
            <a href="./fotos.html#FOTOS DE BAJOS ELÉCTRICOS STERLING BY MUSIC MAN">*Fotos de Bajos Eléctricos Sterling By Music Man</a> 
           </li>
         </article>
        </section>
        <!--BAJOS ELÉCTRICOS IBANEZ ASHULA SRA7 -->
        <section>
         <article>
          <h4>BAJOS ELÉCTRICOS IBANEZ ASHULA SRA7</h4>
           <p>Bajo Ibanez Ashula Sra 7</p> 
           <p>Bajo Ibanez Premium SRAS7-RSG FrettedFretless hybrid</p>
           <p>Bajo Ibanez Ashula Sra 7 Blue</p>
           <li>
            <a href="./fotos.html#FOTOS DE BAJOS ELÉCTRICOS IBANEZ ASHULA SRA7">*Fotos de Bajos Eléctricos Ibanez Ashula Sra7</a> 
           </li>
         </article>
        </section>
       </div>
       <!--OFERTA DE BAJO USADO MARCA SQUIER JAGUAR-->
       <div>
        <section> 
         <h3>OFERTA</h3>
          <table border cellpadding="3px" cellspacing="2px">
           <tr>
            <th>Bajo</th> 
            <th>Precio</th>
            <th>Condición</th> 
           </tr>
           <tr>
            <td>Squier Jaguar</td>
            <td>$450</td>
            <td>Usado</td>  
           </tr>   
          </table>
         <p>
          <li>
           <a href="./fotos.html#FOTO DE BAJO ELÉCTRICO SQUIER JAGUAR FENDER">*Foto de Bajo Eléctrico Squier Jaguar Fender</a> 
          </li>
         </p>   
        </section>
       </div>
       <!--Enlace Interno A La Misma Pagina-->
       <div>
        <section>
         <article>
          <p> 
           <a  class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
          </p>  
         </article> 
        </section>
       </div>
      <!--INSTRUMENTOS DE PERCUSIÓN-->
      <!--Baterias-->
      <!--Baterias Marca Mapex-->
      <div>
       <section id="INSTRUMENTOS DE PERCUSIÓN">
        <article>
         <h2 class="azul">INSTRUMENTOS DE PERCUSIÓN</h2>
          <h3 class="celeste">BATERIAS(Todas Sin Platos Y Sin Fierros)</h3>
           <h3>Baterias Marca Mapex</h3>
            <P>Batería Mapex Saturn V Exotic 4 Cps Bombo 20 Maple Burl</P>
            <P>Bateria Mapex Mars Fusion 5 Cuerpos Bombo 20</P> 
            <li>
              <a href="./fotos.html#FOTOS DE BATERIAS MARCA MAPEX">*Fotos de Baterias Marca Mapex</a> 
            </li>
        </article>
       </section>
      </div>
      <!--Baterias Marca Pearl-->
      <div>
       <section>
        <article>
         <h3>Baterias Marca Pearl</h3> 
          <P>Batería Pearl Export Blue Sea Bombo de 18</P>
          <P>Bateria Pearl Decade Maple Bombo De 20 C Satin Brown Burst</P>
          <P>Batería Pearl Master Maple Bombo De 20 Color Matte White</P> 
          <li>
            <a href="./fotos.html#FOTOS DE BATERIAS MARCA PEARL">*Fotos de Baterias Marca Pearl</a> 
          </li>
        </article>
       </section>
      </div> 
      <!--CONGAS-->
      <div> 
       <section>
        <article>
          <h3 class="celeste">CONGAS</h3>
           <p>Congas Pearl Richie Flores</p>
           <p>Latin Percussion  Set De Congas City Vintage Sunburst</p>
           <li>
            <a href="./fotos.html#FOTOS DE CONGAS">*Fotos de Congas</a> 
           </li>
        </article>
       </section>
      </div>
      <div>
       <section>
        <article>  
         <p>
          <a class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
         </p>
        </article>
       </section>    
      </div>
      <!--INSTRUMENTOS DE VIENTO-->
      <!--Saxo alto Bellagio-->
      <div>
       <section id="INSTRUMENTOS DE VIENTO">
        <article>  
         <h2 class="azul">INSTRUMENTOS DE VIENTO</h2> 
        </article>
       </section>
       <section>
        <article>
         <h3 class="celeste">SAXO</h3>
          <p>Saxo alto Bellagio</p>
          <li>
           <a href="./fotos.html#FOTO DE SAXO ALTO BELLAGIO">*Foto de Saxo alto Bellagio</a> 
          </li>
        </article>
       </section>
      </div>
      <!--Flauta Traversa Parquer Custom En Do Cerrada Mi Partido-->
      <div>
       <section>
        <article>
         <h3 class="celeste">FLAUTA TRAVERSA PARQUER CUSTOM EN DO CERRADA MI PARTIDO</h3>
          <p>Flauta Traversa Parquer Custom En Do Cerrada Mi Partido</p>
          <li>
           <a href="./fotos.html#FOTO DE FLAUTA TRAVERSA">*Foto de Flauta Traversa Parquer Custom En Do Cerrada Mi Partido</a> 
          </li>
         </article>
        </section>
       </div> 
       <!--Trompeta Yamaha-->
       <div>
        <section>
         <article>
          <h3 class="celeste">TROMPETA</h3>
           <p>Trompeta Yamaha</p>
           <li>
            <a href="./fotos.html#FOTO DE TROMPETA YAMAHA">*Foto De Trompeta Yamaha</a> 
           </li>
          </article>
         </section>
        </div>
        <div>
         <section>
          <article>   
           <p>  
            <a class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
           </p>
          </article>
         </section>   
        </div>
        <!--Enlace Interno A La Misma Pagina-->
        <div>
         <section id="TU COMPRA"> 
          <article>  
           <h2 class="azul">TU COMPRA</h2> 
          </article>
         </section>
        </div>
        <span>
         <p>   
          <a class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
         </p>    
        </span>  
<!--FOOTER DEL SITIO WEB-->    
<!--Enlace Interno A La Misma Pagina-->
<footer>
 <div>
  <section id="DEJÁ TUS DATOS"> 
   <article>  
    <h2 class="azul">DEJÁ TUS DATOS</h2> 
   </article>
  </section>
  <section>
   <article>
    <h4> DEJANOS TUS DATOS ASÍ TE ENVIAMOS NUESTRAS PROMOCIONES</h4>
   </article>
  </section>
 <div>
 <!--formulario-->
 <div>
  <section>
    <form action="./index.js" method="POST">
    <label for="nombre">NOMBRE</label> 
    <input type="text" name="pepe"placeholder="ingresa tu nombre">

    <label for="email">EMAIL</label>
    <input type="email" name="email">

    <label for="password">CONTRASEÑA</label>
    <input type="password" name="password">

    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
    </form>
  </section>
 </div> 
 <!--Enlace Externo Hacia La Otra Pagina-->
     <div>
      <section>
       <p> 
        <a href="https://www.youtube.com.ar">YOUTUBE</a>
       </p>
      </section>
     </div>
 <!--Enlace Interno a La Misma Pagina-->   
     <div>
      <p>  
       <a class="rosa-fuerte" href="">THE HOUSE OF MUSIC</a>
      </p>
     </div>
     <div>  
      <section>
       <article>
        <h5 class="morado">Sitio Web hecho por Santiago Eloy Corbella</h5> 
       </article>
      </section>
     </div>
   </footer>
   <script src="JS/script.js"></script>
 </body>  
</html>
